@model OnlineStore.Data.Entities.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="container-fluid">

    <div class="row ">
        <div class="col-4 ">

            <img class="img-fluid" src="~/img/@(Model.ProductImages.FirstOrDefault()?.WebImageURL ?? "empty.jpg")" alt="@Model.Name" />

        </div>
        <div class="col-8">

            @Model.Name

        </div>

    </div>
</div>


@*<div id="app">
        {{ message }}
    </div>


    @section scripts
        {
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/app.js"></script>
    }*@
