@model IEnumerable<OnlineStore.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Product List</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <a asp-action="Index" asp-controller="Product" asp-route-ID="@item.ID">
                    <img class="img-fluid" src="~/img/@(item.ProductImages.FirstOrDefault()?.WebImageURL ?? "empty.jpg")" alt="@item.Name" />
                </a>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>

                <ul>
                    <li>
                        @Html.DisplayFor(modelItem => item.NameFa)
                    </li>
                </ul>
            </div>
        </div>
    }

</div>