@model object

@{
    ViewBag.Title = "Online Store - Home";
}

<div class="jumbotron">
    <h1 class="display-3">Oneline Store!</h1>
    <p class="lead">
        Build your business with a free online store.
    </p>
    <hr class="my-4">
    <p>
        Get set up in minutes for free.
    </p>
    <p class="lead">
        <a class="btn btn-dark" href="#!" role="button">Learn more</a>
    </p>
</div>

